## Python Programming Fundamentals

### 1.Control Flow Statements.

### 2.Functions

## Control Flow Statements.

In python programming, control flow is the order in which statements or blocks of code are executed at runtime.

In [33]:
x = 10
if x==8:                        # this condition is not satisfied thats why it will skip "if"
    print("x is",x)

In [34]:
x = 10
if x==8:
    print("x is",x)                # then after it will go to else to satisfied the statements.
else:                                 
    print("x is not 8")

x is not 8

In [35]:
x = 8
if x==8:
    print("x is",x)

x is 8

In [36]:
x = 10
if x==8:
    print("x is",x)
    y = 9
    print(y)

In [37]:
x = 10
if x==8:
    print("x is",x)                # then after it will go to else to satisfied the statements.
else:                                 
    print("x is not 8")

x is not 8

In [38]:
x = 23
if x==8:
    print("x is",x)
elif x==10:
    print("x is",x)
else:
    print("x is not 8")

x is not 8

In [39]:
x = 23
if x==8:
    print("x is",x)
else:                                      # elif is always run after then if will be written 
    print("x is not 8")
elif x==10:
    print("x is",x)

SyntaxError: invalid syntax (1571276096.py, line 6)

In [ ]:
# make first letter in uppercase.

In [ ]:
x = "rishi"
print(id(x))
x = x.capitalize()
print(id(x.capitalize()))
print(x)

In [ ]:
y = "priyanshu"
y=y.capitalize()
print(y)

In [ ]:
# Make a program to check wheather a number is add or even.

In [ ]:
def check_odd_even(number):
    if number  a%1 == 0:
        return "Even"
    else:
        return "Odd"

In [ ]:
# check wheather a number is a Pallindrom number.

In [ ]:
x = 10
if x==10:
    print("x is",x)

In [ ]:
x = 23
if x==8:
    print("x is",x)
elif x==10:
    print("x is",x)
elif x ==11:
    print("x is",x)
elif x ==12:
    print("x is",x)
elif x ==23:
    print("x is",x)
else:
    print("x is not 8")

In [ ]:
x = 23
if x==23:
    print("x is",x)
elif x==10:
    print("x is",x)
elif x ==11:
    print("x is",x)
elif x ==12:
    print("x is",x)
elif x ==23:
    print("x is",x)
else:
    print("x is not 8")

In [ ]:
x = "rishi"
x.replace("r","R")

In [ ]:
# nested if else
x = int(input("value of x"))
y = int(input("value of y"))
z = int(input("value of z"))

if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif x==y:
    if x>z:
        print("y==x>z")
    else:
        print("y==x<z")
elif x<y:
    if x>z:
        print("y>x>z")
    else:
        print("y>x<z")

In [ ]:
# nested if else
x = int(input("value of x:"))
y = int(input("value of y:"))
z = int(input("value of z:"))

if x>y:
    if x>z:
        print("x>y>z")
    else:
        print("y<x<z")
elif x==y:
    if x>z:
        print("y==x>z")
    else:
        print("y==x<z")
elif x<y:
    if x>z:
        print("y>x>z")
    else:
        print("y>x<z")

In [ ]:
# single line statements
if x>y: print("x>y")
elif x==y: print("x==y")
else: print("x<y")

In [ ]:
# using() in if
# nested if else
x = int(input("value of x:"))
y = int(input("value of y:"))
z = int(input("value of z:"))

if(x>y):
    if(x>z):
        print("x>y>z")
    else:
        print("y<x<z")
elif(x==y):
    if(x>z):
        print("y==x>z")
    else:
        print("y==x<z")
elif(x<y):
    if(x>z):
        print("y>x>z")
    else:
        print("y>x<z")

In [ ]:
if (8+4)/2==6:
    print("6")
else:
    print()

In [ ]:
if 8+4/2==10:
    print("10")
else:
    print()

In [ ]:
(8+4)/2

# Loops

Loops are used to execute a block of code repeatedly.

# for Loops

The for loop iterates over an iterable objects.(Lists,Dictionatry,Sets,Tuples,Strings,Range)

- for loops are used when you have a block of code which you want to repeat a fixed number of times.
- for loops are also used to perform the same set of operations for each item in an iterable.
- Thus,for loops reduces the code complexity and saves time.

In [ ]:
x = [1,2,3,4]                       # List[]
for a in x:
    print(a) 
print("value of a",a)

In [ ]:
x = (78,123,34,101)                     # Tuple()
type(x)
for c in x:
    print(c)

In [ ]:
x = {1:"Himanshu",2:"Gagan"}             # Dictionary{}
for f in x:
    print(f)

In [ ]:
x = {"Himanshu",4,6,7,"Gagan"}             # Set{}
for f in x:
    print(f)

In [ ]:
x = "Himanshu","Gagan","str"            # Strings(" ",' ')
for f in x:
    print(f)

In [ ]:
x = range(1,3)            # Range(Start,Stop,Steps)
for f in x:
    print(f)

In [ ]:
f = range(0,6)
print(f[0])
print(f[1])
print(f[2])
print(f[3])

In [ ]:
sum = 0
for i in range(1,11):
    if i%2==0:
        sum =sum  + i
print("Sum of all even number:",sum)

In [ ]:
sum = 0
for i in range(1,11):
    if i%2==0:
        sum =sum  + i
print("Hello")

In [ ]:
sum = 0
for i in range(1,11):
    if i%2==0:
        sum =sum  + i
    print("Hello")

In [ ]:
sum = 0
for i in range(1,11):
    if i%2==0:
        sum =sum  + i
        print("Hello")

In [ ]:
# square each number inside a list and finally print it. 

w = [1,2,3,4,5,6,7,8]
for u in w:
    if (w==1):
        print("1*1")

In [ ]:
r = (range(0,11,2))
print(r)

In [ ]:
sum = 0
for i in range(0,11,2):
    sum += i
print(sum)

In [ ]:
# ask the user for the range from which the even numbers should be printed.
# eg; 10 to 20 ,60 to 100 , 70 to 80.

In [ ]:
r = int(input("start:"))
u = int(input("stop:"))

sum = 0
for p in range(r,u):
    if p%2==0:
        sum = sum + p                       # ( sum+= p )
print("sum of all even numbers:",sum)

In [ ]:
40+42+44+46+48+50

In [ ]:
r = int(input("start"))                    # by parth sir method.
u = int(input("stop"))
o = int(input("Step"))

sum = 0
if 
for p in range(r,u,o):
        sum = sum + p
print("sum of numbers:",sum)

In [ ]:
r = int(input("start:"))                    # by parth sir method.
u = int(input("stop :"))
o = int(input("Step :"))
sum = 0
for p in range(r,u+1,o):
        sum = sum + p
print("sum of numbers:",sum)

In [ ]:

sum = 0
for p in range(1,10+1,2):
        sum = sum +1 p
        
print("sum of numbers:",sum)

# if-else in for loop

In [ ]:
# classify numbers from 1 to 100 as even or odd.

In [ ]:
x = range(1,101)
for y in x:
    if y%2==0:
        print("even number:",y)
        else:
        print("odd number :",y)

In [ ]:
x = range(1,101)                  # range(Start,Stop,Steps)
for y in x:
    if y%2==0:
        print("even number :",y)
    else:
        print(" odd number :",y)

In [ ]:

for p in range( , ):
        sum = sum + p
print("sum of numbers:",sum)

In [ ]:
e = list(range(1,45))
print(e)

# Nested for loops:

In [ ]:
# print the multiplication table of 2

In [ ]:
for x in range(1,11):
    print(2," X ", x ," = ", x*2)

    for x in range(1,11):
    print(2," X ", x ," = ", x*2)

In [ ]:
for x in tuple(1,2,3,4,5,6,7,8,9,10):
    print(2," X ",x," = ",x*2)

In [ ]:
# print the mutiplication table of 2,3,4,5,6,7.

In [ ]:
for x in range(1,11):
    print(2," X ", x ," = ", x*2)
    if x==10:
            for x in range(1,11):
                print(3," X ", x ," = ", x*3)
        
            for x in range(1,11):
                print(4," X ", x ," = ", x*4)
                
            for x in range(1,11):
                print(5," X ", x ," = ", x*5)

In [ ]:
for a in range(2,8):
    for i in range(1,11):
        print(a," X ", i ," = ", a*i)

In [ ]:
print("hello")
print("world")
print("python")

In [ ]:
print("hello",end=" ")
print("python")

In [ ]:
print("hello") , print("world") , print("python")

In [ ]:
for x in range(2,10+1):            
    if x%2==0:
          print("*")

In [ ]:
for x in "   ":  print(4)

In [ ]:
for u in range(5,10):   print("*")

##### for loop in one line.

In [ ]:
lst=[]
for x in range(0,4):   lst.append(x)
print(lst)

# Transfer Statements.

## Break

The break Statements is uesd to terminate the loop instanly when it is encountered

In [ ]:
for x in range(1,5):
    if x>3:
        break
    print(x)
print("hello world")

In [ ]:
for x in range(3):
    for y in range(4):
        for z in range(5):
            if z>2:
                print("i am breaking it")
                break
        print(z)

## Continue

The continue statements skips the current iteration of the loop and jumps to the next iteration.

In [ ]:
for x in (1,2,3,4):
    print(x)

In [ ]:
for x in (1,2,3,4):
    if x==3:
        continue
    print(x)
    print("python")

In [ ]:
for x in range(5):
    print(x)
    continue
    print("hello")

## Pass

The pass statements does nothing. it is used to create an empty block that may be useful in the future.

In [43]:
for x in range(10):
    pass

In [44]:
for t in range(4):
    continue

In [45]:
for x in range(5):
    pass
    print("hello")

hello
hello
hello
hello
hello

In [46]:
for x in range(4):
    continue
    print("big data")

In [47]:
for q in range(4):
    if q==3:
        pass
    print(q)

0
1
2
3

In [40]:
for q in range(4):
    if q==3:
        continue
    print(q)

0
1
2

In [41]:
y = 6
if y>4:
    pass
print("xyz")

xyz

In [42]:
y = 6                             # continue is always work in loop
if y>4:
    continue
print("xyz")

SyntaxError: 'continue' not properly in loop (924106099.py, line 3)

In [ ]:
y = 6                             # break is always work in loop
if y>4:
    break
print("xyz")

# while Loops

works till a certain condition is true.

Used for indefinite iterations.

In [4]:
x = 9
while x<15:
    print(x)
    x = x+1

9
10
11
12
13
14

In [12]:
i = 1
while i<4:
    lst=[1,2,3]
    x = 1
    print(lst)
    while lst!=[]:
        lst.remove(x)
        print(lst)
        x = x+1
    i = i+1

[1, 2, 3]
[2, 3]
[3]
[]
[1, 2, 3]
[2, 3]
[3]
[]
[1, 2, 3]
[2, 3]
[3]
[]

In [ ]:
# Take a positive integer(3-digit) as input from the user.
# Check wheather the given number is an Armstrong number.
# e.g.   153 = 1**3 + 5**3 + 3**3
#        407 = 4**3 + 0**3 + 7**3

In [ ]:
# Take a positive integer as input from the user . find the factorial of that number.
# e.g.  factorial of 4 = 1*2*3*4
# factorial of 0 = 1