In [1]:
15/2

7.5

In [2]:
15//2

7

Floor division

In [3]:
addition = 10 + 20 + \
           40 + 50 + \
           70
print(addition)

190

In [4]:
addition = 10 + 20 + \\
           40 + 50 + \\
           70
print(addition)

SyntaxError: unexpected character after line continuation character (207300981.py, line 1)

In [5]:
addition = 10 + 20 + \n
           40 + 50 + \n
           70
print(addition)

SyntaxError: unexpected character after line continuation character (3005229353.py, line 1)

In [10]:
addition = 10 + 20 + \
           40 + 50 + \
           70
print(addition)

190

In [9]:
x = 10
y = 40


z = x + y
print('sum:' , z)

sum: 50

In [18]:
x = """I am going to market\
i am going to school\
i am going to college"""

print(x)

I am going to marketi am going to schooli am going to college

In [19]:
x = I am going to market\
i am going to school\
i am going to college

print(x)

SyntaxError: invalid syntax (2030539882.py, line 1)

In [21]:
x = """I am going to\n market\
i am going to school\
iam going to college"""

print(x)

I am going to
 marketi am going to schooliam going to college

In [23]:
print('its a good idea')

its a good idea

In [24]:
15//2

7

Floor division

In [25]:
5%2

1

2

Modulo operation

In [26]:
print(10/5)

2.0

In [27]:
print(10//5)

2

In [29]:
'45+56'

'45+56'

In [31]:
           45+546

591

In [1]:
print             (56+34)

90

In [2]:
True

True

Boolean where(true represents 1)

In [3]:
False

False

Boolean where(false represents 0)

In [4]:
true

NameError: name 'true' is not defined

In [ ]:
78j

any number  starts with 'j' is (complex number)

In [22]:
30+40j

(30+40j)

In [1]:
print("class")

class

# Non-Primitive or Data Structure

# List

- List Data types are used to store multiple items or elements in a single variable.
- To create a list data type in Python language, we use square brackets [ ]

In [7]:
# Non-primitive data types are also called Data structure.
# In Data structure primitive and non-primitive data types can both be stored in a sequence or structure.

In [3]:
# list
x = ["hello" , "world" , True,[1,2,3,4]]
x

['hello', 'world', True, [1, 2, 3, 4]]

In [6]:
# List indexing
x = ["hello" , "world" , True,[1,2,[3,4]]]

x

['hello', 'world', True, [1, 2, [3, 4]]]

In [1]:
x = ["hello" , "world" , True,[1,2,[3,4]]]

print(x[3][2][0])

3

In [2]:
x = ["hello" , "world" , True,[1,2,[3,4]]]
print(x[3])

[1, 2, [3, 4]]

In [5]:
x = [1,2]
x.append(123)
print(x)

[1, 2, 123]

In [1]:
# List.extend(iterable)
# iterable - strings, list, tuples, sets, Dictionary
lst = [1,2,3]
lst.extend("hello")
lst

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [3]:
lst = [1,2,3]
lst.extend(["hello"])
lst

[1, 2, 3, 'hello']

In [6]:
x = [1,2]
x.append(123,4,5,6,7,8)
print(x)

TypeError: list.append() takes exactly one argument (6 given)

In [4]:
#.remove()
lst=[1,2,3]
lst.remove(2)
print(lst)

[1, 3]

In [7]:
#.count()
lst=[1,2,3,4,1,3,5,6,7,3,3]
lst.count(3)

4

In [10]:
#.sort()
lst=[3,4,5,78,3,1,6,9,8,1,10,11,11.8,]
lst.sort()
print(lst)

[1, 1, 3, 3, 4, 5, 6, 8, 9, 10, 11, 11.8, 78]

In [12]:
#.reverse()
lst=[3,4,5,78,3,1,6,9,8,1,10,11,11.8,]
lst.sort(reverse=True)
print(lst)


x = ["str","hello",123]
x.reverse()
print(x)

[78, 11.8, 11, 10, 9, 8, 6, 5, 4, 3, 3, 1, 1]
[123, 'hello', 'str']

In [18]:
#.split()
x = "Hello World"
x.split("  ")
x

'Hello World'

In [21]:
#.split()
x = "Hello World"
x.split(" ")

['Hello', 'World']

# Tuples

- Tuples also can store multiple items or elements in a single variable and can be declared using parentheses( ).
- In Data structure primitive and non-primitive data types can both be stored in a sequence or structure.

In [25]:
x = (1)
type(x)

int

In [26]:
x = (True)
type(x)

bool

In [28]:
x = ("str",)
type(x)

tuple

In [31]:
x = 43j,
type(x)

tuple

In [30]:
y = 1,2
y

(1, 2)

In [39]:
y = (True,False)
type(y)

tuple

In [40]:
#.count()
tup_1 = (1,1,3)
tup_1.count(1)

2

In [42]:
#.index()

tup_1.index(3)

2

In [8]:
x = 12
y = 13
print(id(x))
print(id(y))

2230076244560
2230076244592

In [6]:
x =12
y =12
print(id(x))
print(id(y))

1227710399056
1227710399056

In [1]:
x =[12]
y =[13]
print(id(x))
print(id(y))

1227791113280
1227791113472

In [4]:
q =[15,232,343]
s =[15,56,67]
t =[15,78,89]
print(id(q),id(s),id(t))

2008822424128 2008822423616 2008822424256

In [4]:
x = [12]
x = [12]       # in list data type 

print(id(x))
print(id(x))

1227791114624
1227791114624

In [5]:
x = "hello"
print(id(x))

2008818701552

# What is objects?

- All data in a Python is represented by objects.
- Every object has an identity(Address,Memory Location),a type and a value.
- An objects type determines the operations that the object supports and also defines the possible values for objects for that type.
- The value of some objects can change. objects whose value can change without changing the identity are said to be mutable.objects whose value is unchangable once they are created are called immutable.

In [29]:
"string"    # it is str data type.
            # it is working without giving print command.

'string'

In [30]:
id("strings")   # id functions used to find memory location or address of any object or data type.

2678680294128

A variable is not a container but it points to an objects.

In [6]:
x = "Data"    # x called is pointer
print(id(x))
x = "Science"
print(id(x))

2678690389168
2678751871216

In [8]:
print(id(x))

2678751871216

In [35]:
y = [12,34]
print(id(y))

y = [89,56]
print(id(y))

2678751732672
2678752264256

In [38]:
y[1]=88
print(id(y))

2678751872512

In [37]:
y = [12,34]
print(id(y))

y = [89,88]
print(id(y))

2678752250624
2678751872512

In [20]:
p = "Myself Data Scientist"
(p.replace(" ",":"))

'Myself:Data:Scientist'

In [24]:
p = "Myself Data Scientist"
print(id(p))
id(p.replace(" ",":"))

2678751794784

2678751798464

In [25]:
p
print(id(p))

2678751794784

In [27]:
z = [1,2,3,4,5]
print(id(z))
id(z.reverse())

2678752257920

140717948628672

In [28]:
id(z)

2678752257920