In [13]:
print(1,2,3,4,)

1 2 3 4

In [4]:
# take three values from the user
name = input("Enter your name")
age = input("Enter your age")
Salary= input("Enter your salary")

# Display all values on screen 
print("\n")
print("printing employe details")
print("Name" ,"Salary" ,"age" )
print(name,Salary,age)                                                                                             
type(print(name))

Enter your name:himanshu
Enter your age:19
Enter your salary:26000


printing employe details
Name Salary age
:himanshu :26000 :19
:himanshu

NoneType

In [2]:
# take three values from the user
name = input("Enter your name")
age = input("Enter your age")
Salary= input("Enter your salary")

# Display all values on screen 
print("\n")
print("printing employe details")
print("Name:"   ,  name)
print("age:"   +    age)
print("Salary:"  +    Salary)

Enter your nameHimanshu
Enter your age19
Enter your salary60000


printing employe details
Name: Himanshu
age:19
Salary:60000

In [1]:
print("name"        "Name")

nameName

In [19]:
x= input()  # input without describibg can not tell us about it

56

In [20]:
x= input('employee number:')

employee number:56

In [2]:
str(45)

'45'

In [3]:
complex(45.4)

(45.4+0j)

In [4]:
float(4j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [7]:
print('\'Hello\'')

'Hello'

In [7]:
x = input  ("number")

type(x)

number  :44

str

In [13]:
q = input("Even noumber")
r = input("odd number")

s = q+r
print(s)
type(s)

Even noumber33
odd number34
3334

str

In [16]:
float(3334)

3334.0

In [24]:
int(3334)

3334

In [23]:
bool(3334)

True

In [20]:
complex(3334)

(3334+0j)

In [3]:
h = input("even number")
e = input("odd number")

t = h + e
print(t)
print(type(t))
print(int(t))
print(type(int(t)))
print(float(t))

even number24
odd number13
2413
<class 'str'>
2413
<class 'int'>
2413.0

In [12]:
h = input("even number")
e = input("odd number")

t = h + e
print(t)
print(type(t))
print(bool(t))
print(type(bool(t)))

even number 24
odd number 13
 24 13
<class 'str'>
True
<class 'bool'>

In [17]:
h = input("even number")
e = input("odd number")

t = h + e
print(t)
print(type(t))
print(float(t))
print(type(float(t)))

even number 24
odd number12
 2412
<class 'str'>
2412.0
<class 'float'>

In [20]:
h = input("even number")
e = input("odd number")

t = h + e
print(t)
print(type(t))
print(complex(t))
print(type(complex(t)))

even number 24
odd number12
 2412
<class 'str'>
(2412+0j)
<class 'complex'>

# Question matter

Answer following question and write them in your journal

- what one thing-if i did it-would profoundly improve the way i work(and how i live)?
- what needs to happen between now and the end of the next 90 days for me to feel that
  this is the best quarter of my work and personal life? (Remember clarity preceds mastery)
- what do i need to express appreciation to?(Make your list long)
- what would i like to improve ,professionaly and persona?
- what could be i grateful for that i am not grateful for?
- How do I want to be remembered at my last day of the journey?

In [1]:
name = input("Enter Himanshu Marks")
print(float(name),(int(name),(str(name),(complex(name)))))

Enter Himanshu Marks97
97.0 (97, ('97', (97+0j)))

In [4]:
j = input("Enter Gagan Marks")
print("\n")
print(float(j),(int(j),(str(j))))
type(float(j)),(int(j)),(str(j))

Enter Gagan Marks342


342.0 (342, '342')

(float, 342, '342')

In [2]:
j = input("Enter Gagan Marks")
print("\n")
print(float(j),(int(j),(str(j))))
(type(float(j),(type(int(j),(type(str(j)))))))

Enter Gagan Marks342


342.0 (342, '342')

TypeError: type() takes 1 or 3 arguments

In [3]:
j = input("Enter Gagan Marks")
print("\n")
print(float(j),(int(j),(str(j))))
type(float(j)),type(int(j)),type(str(j))

Enter Gagan Marks324


324.0 (324, '324')

(float, int, str)

In [ ]:
name = input("Enter your name")
age = input("Enter your age")
salary = input("Enter your Salary")

In [3]:
(int(90.7))

90