In [24]:
print(This is my pythons first chapter;  ,     'i am rishi')
#There no effect of space

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2529356978.py, line 1)

In [1]:
print('This is my pythons first chapter:'   ,                           'I am Himanshu')

This is my pythons first chapter: I am Himanshu

In [8]:
print(7 , '8')

7 8

In [9]:
print('7'+'8')

78

In [10]:
print('a'+'b'+'c'+'d')

abcd

In [13]:
print('a','b'+'c','d')

a bc d

In [22]:
print(8+'y')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
print(8+y)

NameError: name 'y' is not defined

y is not defined

In [1]:
y=15
print(8+'y')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
''''''
I am learning python """

SyntaxError: unterminated triple-quoted string literal (detected at line 2) (755946203.py, line 2)

In [4]:
"""
i am learning python """

'\ni am learning python '

In [5]:
"i am lerning python"

'i am lerning python'

In [6]:
"""   
    I am learning python  """

'   \n    I am learning python  '

In [ ]:
""""""

In [2]:
print('''25''')

25

In [2]:
'''25''

SyntaxError: incomplete input (278884298.py, line 1)

In [4]:
""""
    I am learning python """"

SyntaxError: unterminated string literal (detected at line 2) (1648513663.py, line 2)

In [37]:
""""adfsfdgfhggj""""

SyntaxError: unterminated string literal (detected at line 1) (2906970506.py, line 1)

In [41]:
# meaning of unterminated- print(ssfgdgf" )        # here the interpreter thought that after # sign whatever is witten is a comment

In [42]:
print("ssfgdgf")

ssfgdgf

In [8]:
"ssfgdf"       # when we will write print before quotation mark the interpreter will understand that the comment is a string 
                 # but when we will write it under double quotation mark then the interpreter will 
                #understand it as a quotation marked string

'ssfgdf'

In [46]:
'ssfgfd'

'ssfgfd'

In [56]:
print(""""                              
i am learning python """)

"
i am learning python

In [55]:
print('''string''')

string

In [30]:
'''String'''

'String'

In [23]:
print('''string''')  # whenever we will give print command the quotation mark in the output will get removed

string

In [33]:
("""string""")

'string'

In [1]:
print('I am buying a new car ; tomorrow')

I am buying a new car ; tomorrow

In [8]:
print ('I am buying a new \n car ; tomorrow')             # i have written non data type of

I am buying a new
 car ; tomorrow

In [6]:
x = 35 + 54 + \
      65 + 65
print   ('x')                                # problem

x

##### python

In [7]:
print       (' 
             ')

SyntaxError: unterminated string literal (detected at line 1) (3548226729.py, line 1)

In [2]:
print        ('')
              ('')

IndentationError: unexpected indent (3860694582.py, line 2)

In [16]:
type(45+56j)

complex

In [1]:
type(45+63j)

complex

In [14]:
78+45j

(78+45j)

In [20]:
45j+45.5                 # Complex and float will give the result

(45.5+45j)

In [24]:
print("123"+"str")

123str

In [22]:
45+56.5

101.5

In [23]:
45+45j

(45+45j)

In [25]:
False+56

56

In [27]:
type(2+12)

int

In [28]:
type(23+56j)

complex

In [29]:
type(2+23)

int

In [30]:
type(2+False)

int

In [31]:
print(2+23)

25

In [34]:
print(abc+23)

NameError: name 'abc' is not defined

In [36]:
print("abc"+23)

TypeError: can only concatenate str (not "int") to str

In [37]:
print("abc"+"23")

abc23

In [39]:
print("str"+23)

TypeError: can only concatenate str (not "int") to str

In [40]:
"78"+45

TypeError: can only concatenate str (not "int") to str

In [45]:
23    +    x

NameError: name 'x' is not defined

In [49]:
print("23"+"x")

23x

In [52]:
23+x

NameError: name 'x' is not defined

In [51]:
print('x')

x

In [62]:
x=True
print(x+23)

24

In [63]:
x=False
print(x+34)

34

In [3]:
del(x)

In [4]:
type(x)

NameError: name 'x' is not defined

In [12]:
print(x)

NameError: name 'x' is not defined

In [6]:
y=11
print(type(y))

<class 'int'>

In [2]:
x=10
print(x)

10

In [13]:
"""x"""

'x'

In [1]:
print("Himanshu")

Himanshu

# print,input

In [2]:
print(input(type(str("enter marks"))))

<class 'str'>234
234

In [3]:
type(234)

int

In [2]:
print(input(type(int("enter marks"))))

ValueError: invalid literal for int() with base 10: 'enter marks'

In [8]:
print(input(type(int('enter marks'))))

ValueError: invalid literal for int() with base 10: 'enter marks'

In [3]:
int("enter marks")

ValueError: invalid literal for int() with base 10: 'enter marks'

In [1]:
int("345")

345

In [1]:
x = input(int("345"))

34534

In [8]:
q = input(int(""))

1212

In [6]:
print("12"+"12")

1212

In [7]:
type(int("enter marks"))

ValueError: invalid literal for int() with base 10: 'enter marks'

In [6]:
type(int(23.0))

int

In [13]:
print(type(int(45)))

<class 'int'>

In [16]:
a = "VijAI"
int(a)

ValueError: invalid literal for int() with base 10: 'VijAI'

In [19]:
int("VijAI")

ValueError: invalid literal for int() with base 10: 'VijAI'

In [17]:
q = 234
str(q)

'234'

In [18]:
str(234)

'234'

In [2]:
print("i am learning \n python")

i am learning
 python

In [3]:
print("hello\b")

hello

In [4]:
print('\'hello everyone\'')

'hello everyone'

In [9]:
print(i am learning \n python)    # here i dont use quotation mark and dont making it a string

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497354846.py, line 1)

In [6]:
print("hello\tEveryone")

hello	Everyone

In [11]:
print("hello\b\n\r\teveryone")            # here i use all escape sequence in one string

hello
	everyone