# Tokens

   ### A token is the Smallest individual unit(SIU) in a python program. All Statements and instructions in a program are built with tokens.

- Keywords
- Identifiers
- Literals
- Operators
- Punctuators

### Keywords

- Keywords are special words which have a unique meaning and purpose in python.
- Keywords cannot be used as variable names,fuction names etc.

In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Identifiers

identifiers are names given to any variable,class,Function,method etc.

### Literals

Literals are simply the raw data that is assigned into the variables

#### Literals Types

1.String literals

2.Numeric Literals
    A.Integer
    B.Float
    C.Complex
    
3.Boolean Literal

4.Special Literal(None)

5.Literal Collection
   A.List Literal
   B.Tuple Literal
   C.Dictionary Literal
   D.Set Literal

### Punctuators

puctuators are symbols that are used to structure the statements.Some commonly usedpunctuators are:',',#, \, ( ), [ ], { }, @ ,;

### Operators

operators are symbols which are used to perform a specific operation between values.

1.Arithmetic operators.
2.Comparison operators.
3.Assignment operators
4.Logical operators.
5.Bitwise operators.
6.Membership operators.
7.Identity operators.

In [ ]:
#Arithmetic Operators   +    -     *    /     //    **    %

In [3]:
x =10
y = 23

z =x+y
print(z)

33

In [ ]:
#Comparison Operators   ==   !=    >     <    >=    <=

In [4]:
x = 23
y = 54

print(x==y)

False

In [5]:
x = 23
y = 54

print(x!=y)

True

In [7]:
#Logical Operator:   and     or       not

(and)                                        # if  both condition is True then it will be a True
True      and       True  =    True
True      and       False =    False
False     and       False =    False
False     and       True  =    False

(or)                                          # if  both condition is False then it will be a False
True      or       True  =    True
True      or       False =    True
False     or       False =    False
False     or       True  =    True

(not)

In [8]:
x = 13
y = 14
x<15 or x==y

True

In [19]:
x = 13
y = 14
x>15 and x==y or x<y not x

SyntaxError: invalid syntax (3319564529.py, line 3)

In [10]:
not x==y

True

In [11]:
not x!=y

False

In [15]:
x = 13
y = 14
x<=15 and x!=y

True

In [2]:
True and False or True and True or False and False

True

In [3]:
True or False and True or True and False or False

True

In [6]:
#Identity Operators:   is    is not
#Check wheather two variables or objects share the same memory location or not

In [2]:
a = 14
b = 15
print(id(a))
print(id(b))
print(a is not b)

2235155219088
2235155219120
True

In [3]:
a = 14
b = 15
print(id(a))
print(id(b))
print(a is b)

2235155219088
2235155219120
False

In [4]:
h = [13]
o = [13]
h is not o

True

In [5]:
h = [13]
o = [13]
h is o

False

In [7]:
h = [13]
o = [13]
print(h is o)       #is checking the memory location of h and o is same or not
print(h==o)          #

print(id(h))
print(id(o))

False
True
2235235999104
2235235998848

In [1]:
# Membership operators:    in     not in
# Membership operator check wheather a value is present in a sequence of values
# Sequence - Strings,lists,Tuples,Dictionaries,Sets

In [10]:
a = "Data science"
b = "Data"
b in a

True

In [11]:
a = "Data science"
b = "Data"
b  not in a

False

In [12]:
a = "Data science"
b = "Data"
"String" not in a

True

In [14]:
c = [1,2,3,4]
d = 3

d in c

True

In [15]:
c = [1,2,3,4]
d = 3

d not in c

False

In [16]:
c = [1,2,[3],4]
d = [3]

d in c

True

In [17]:
c = 1,2,3,4
d = [3]

d in c

False

In [ ]:
# Bitwise operators:   &   |   ^   ~   <<    >>
# & - Bitwise AND
# | - Bitwise OR
# ^ - Bitwise XOR
# ~ - Bitwise NOT
# << - Left shift
# >> - Right shift

In [19]:
# Assignment operators;  =    +=   -=    *=   /=   //=    **=  %=   |=   &=   ^=   >>=   <<=

In [20]:
x = 8
x += 7   #  x = (x+7)
x

15

In [22]:
y = 10
y -= 6   # y = (y-6)
y

4

In [23]:
y = 10
y *= 6
y

60

In [28]:
y = 10
y **= 6
y

1000000

In [25]:
y = 10
y /= 2
y

5.0

In [27]:
y = 10
y //= 2
y

5