1.Calculate the multiplication and sum of two numbers.

In [2]:
a = (5)
b = (9)
print(a*b)
print(a+b)

45
14

3.Print characters from the strings that are present at an even index numbers.

In [2]:
d = "HeLlO EvErYoNe"
d[::2]

'HLOEEYN'

4.Remove first n character from the string.

In [6]:
d = "Hello New World"
d.split("N")

['Hello ', 'ew World']

5.Check if the first and last number of a list is the same.

In [4]:
e = (1,2,3,4,5,1)
e.endswith()

AttributeError: 'tuple' object has no attribute 'endswith'

8.Print the following fuction.

In [4]:
print("1")
print("2 2")
print("3 3 3")
print("4 4 4 4")
print("5 5 5 5 5")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
print("5 5 5 5 5")
print("4 4 4 4")
print("3 3 3")
print("2 2")
print("1")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [1]:
for i in range(1, 6):                         
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [26]:
for i in range(5,0,-1):
    for j in range(i):
            print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

Make a program which is used in calculator.

In [7]:
a = 15
b = 90

print(a+b,a-b,a*b,a/b,a//b,a%b)            # calculator program

105 -75 1350 0.16666666666666666 0 15

# Empty set

In [2]:
s = set()
print(s)

set()

In [3]:
s = set()          
print(type(s))

<class 'set'>

In [ ]:
e = {}

In [22]:
g = tuple()
print(g)
print(type(g))

()
<class 'tuple'>

In [27]:
t = dict()
print(t)
print(type(t))

{}
<class 'dict'>

In [5]:
q = list()
print(q)
print(type(q))

[]
<class 'list'>

# add dict into dict

In [4]:
j = {}
k = {"india": "new delhi", "pakistan": "islamabad"}
j["Country"] = k
print(j)

{'Country': {'india': 'new delhi', 'pakistan': 'islamabad'}}

In [20]:
j = {}
k = {"india": "new delhi", "pakistan": "islamabad"}
j["Country"] = k
print(j)
k["india"]

{'Country': {'india': 'new delhi', 'pakistan': 'islamabad'}}

'new delhi'

In [11]:
# keys
print(type(a.keys()))
print(id(a.keys()))            # objects whose value can change without changing the identity are said to be mutable.

# Values
print(type(a.values()))
print(id(a.values()))          # objects whose value can change without changing the identity are said to be mutable.

# items
print(type(a.items()))
print(id(a.items()))           # objects whose value can change without changing the identity are said to be mutable.

<class 'dict_keys'>
1799108853424
<class 'dict_values'>
1799108853424
<class 'dict_items'>
1799108853424

In [1]:
# Write a code to display names of 10 students through their roll no.
a = int(input("enter a number between 0 and 11: "))
if a == 1:
    print("Rishi")
elif a ==2:
    print("Rohit")
elif a ==3:
    print("Gaurav")
elif a ==4:
    print("Rahul")
elif a ==5:
    print("Arjun")
elif a ==6:
    print("Bhumika")
elif a ==7:
    print("Priyanshu")
elif a ==8:
    print("Pushpendra")
elif a ==9:
    print("Himanshu")
elif a ==10:
    print("Nitin")
else:
    print("end")

enter a number between 0 and 11:  9
Himanshu

In [3]:
Students = {1:"Rohit",2:"Parth",3:"Ronak",4:"Pushpendra",5:"Gaurav",6:"Nitin",7:"Arjun",8:"Sanchit",9:"Sparsh",10:"Mukesh"}

x = int(input("Students"))
Students[x]

Students 2

'Parth'

In [5]:
# Make the first letter of a string in uppercase(.)
x = "rohit"
y = x[0]
z = x[1:]
n = y.upper()
a = n+z
print(a)

Rohit

In [1]:
x = "rohit"                  
x.capitalize()

'Rohit'

In [4]:
# program to check wheather a number is even or odd
a = int(input())
if a%2==0:
    print('the no is even')
else:
    print("the no is odd")

78
the no is even

In [3]:
x = int(input("odd","even"))
if x == range(1, ,2):
    print("x is odd"x)
else x ==range(1, ,1):
    print("x is even"x)

SyntaxError: invalid syntax (2992850308.py, line 2)

In [3]:
a = input()
if a==a[::-1]:
    print("it is a pallindrom")
else:
    print("it is not pallindrom")

2
it is a pallindrom

In [1]:
a = input()
if a[::]==a[::-1]:
    print("it is a pallindrom")
else:
    print("it is not pallindrom")

131
it is a pallindrom

In [11]:
a[::]

'sparsh'

In [12]:
a[::-1]

'hsraps'

In [ ]:
# Make a table with input method.

In [8]:
a =int(input())
print(a*2)
print(a*3)
print(a*4)
print(a*5)
print(a*6)
print(a*7)
print(a*8)
print(a*9)
print(a*10)

9
18
27
36
45
54
63
72
81
90

In [6]:
# build a calculator in python

e = int(input("First value:"))
y = int(input("Second value:"))
u = input("Operation +,-,*,/:")

if u=="+":
    print(e,"+",y,"=",e+y)
elif u=="-":
    print(e,"-",y,"=",e-y)
elif u=="*":
    print(e,"*",y,"=",e*y)
elif u=="/":
    print(e,"/",y,"=",e/y)
else:
    print("end")

First value:5
Second value:10
Operation +,-,*,/:/
5 / 10 = 0.5

In [6]:

for i in range(1,20):
    if i%2==0:
        print(w,"is even")

range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even
range(1, 20) is even

In [2]:
Students = {1:"Rohit",2:"Parth",3:"Ronak",4:"Pushpendra",5:"Gaurav",6:"Nitin",7:"Arjun",8:"Sanchit",9:"Sparsh",10:"Mukesh"}
Students.update({11:"Sachin"})
print(Students)

x = int(input("Students"))

Students[x]

{1: 'Rohit', 2: 'Parth', 3: 'Ronak', 4: 'Pushpendra', 5: 'Gaurav', 6: 'Nitin', 7: 'Arjun', 8: 'Sanchit', 9: 'Sparsh', 10: 'Mukesh', 11: 'Sachin'}
Students11

'Sachin'

In [20]:
Students = {1:"Rohit",2:"Parth",3:"Ronak",4:"Pushpendra",5:"Gaurav",6:"Nitin",7:"Arjun",8:"Sanchit",9:"Sparsh",10:"Mukesh"}
Students.update({11:"Sachin"})


print(Students)

{1: 'Rohit', 2: 'Parth', 3: 'Ronak', 4: 'Pushpendra', 5: 'Gaurav', 6: 'Nitin', 7: 'Arjun', 8: 'Sanchit', 9: 'Sparsh', 10: 'Mukesh', 11: 'Sachin'}

In [17]:
r = {'a': 1, 'b': 2, 'c': 3, 'd': 2}
value = 2
key = (r,value)

if key is not None:
    print(f"The key with value {desired_value} is '{key}'.")
else:
    print(f"No key found with value {desired_value}.")

The key with value 2 is '({'a': 1, 'b': 2, 'c': 3, 'd': 2}, 2)'.

In [ ]:
x = input()
if x==8:
    print("x is ")

In [ ]:
x = 10
if x==8:
    print("x is ", x)
else

In [1]:
x = [1,2,3,4]
type(x)

list

In [2]:
c  = 45
type(c)

int