1 - Take a two digit integer from the user and print the digit at ones place separately.

In [ ]:
h = input("Two digit integer:")          
print("Two digit ones place:",h[1])

2 - Swapping of two values. Take input from the user.

In [5]:
a = input("First value:")
b = input("Second Value:")

r = a
a = b
b = r

print("After Swapping:-")
print("First value:",a)
print("Second value:",b)

First value:456
Second Value:999
After Swapping:-
First value: 999
Second value: 456

3 - Take any two numbers (two digit positive numbers) as inputs from the users multiply the numbers in this way.

In [21]:
# 25
# 35
# 5*3 + 2*5 = 25

In [3]:
e = input("First value:")
t = input("Second value:")

r = int(e[0])
q = int(e[1])
y = int(t[0])
z = int(t[1])

k = r*z
u = q*y
print("Cross Multiplication:",k+u)

First value:35
Second value:67
Cross Multiplication: 51

4 - Find average of two numbers

In [5]:
a = 20
b = 10

r = (a+b)/2
print(r)

15.0

5 - Take two numbers (two digit positive numbers)as inputs from the users and add two numbers in this way x+y = z

e.g. 25+36 = 2536

In [1]:
a = input("First numbers :")
b = input("Second numbers:")

t = a+b
print("\n")
print("Adding two numbers:",t)

First numbers :25
Second numbers:35


Adding two numbers: 2535

6 - program to check wheather a number is even or odd

In [19]:
a = int(input())
if a%2==0:
    print("The number is even")
else:
    print("The number is odd")

4567575759
The number is odd

7 - Program to check wheather a number is 'Pallindrome number'.

e.g. 121,131,555,23432

In [17]:
a = input()
if a==a[::-1]:
    
    print("Yes,It Is a Pallindrome Number")
else:
    print("No,It Is Not a Pallindrome Number")

23
No,It Is Not a Pallindrome Number

8 - Write a code to display the name of 10 students through their Roll Number(by user).

In [15]:
a = int(input("Roll Number: "))
if a == 1:
    print("Rishi")
elif a ==2:
    print("Rohit")
elif a ==3:
    print("Gaurav")
elif a ==4:
    print("Sansu")
elif a ==5:
    print("Arjun")
elif a ==6:
    print("Bhumika")
elif a ==7:
    print("Priyanshu")
elif a ==8:
    print("Pushpendra")
elif a ==9:
    print("Himanshu")
elif a ==10:
    print("Nitin")
else:
    print("end")

Roll Number: 4
Sansu

9 - Remove first 'N' Characters from a String.

In [9]:
d = "Hello New World"
d.split("Hello New ")

['', 'World']

In [3]:
d = [1,2,3,4,5]
d.insert(6,7)
print(d)

[1, 2, 3, 4, 5, 7]

10 - Return the 'COUNT' of a given SUBSTRING from the String.

11 - Print characters from the strings that are present at an even index numbers.

In [2]:
d = "HeLlO EvErYoNe"
d[::2]

'HLOEEYN'