In [1]:
print(123)

123

In [2]:
print("abc")

abc

In [3]:
print(47+67)

114

In [4]:
print(True)

True

In [6]:
print(45-34)

11

In [7]:
print("i am himanshu sharma \n i am learni ng oythin ")

i am himanshu sharma
 i am learni ng oythin

In [8]:
print(this m)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1428474354.py, line 1)

In [11]:
a = 22
float(a)

22.0

In [13]:
x =34.4
int(x)

34

In [14]:
x = 43j
int(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [17]:
x = "43j"
int(x)

ValueError: invalid literal for int() with base 10: '43j'

In [15]:
int("34")

34

In [18]:
print("r"+ "i")

ri

In [20]:
x = True
float(x)

1.0

In [22]:
y = False
int(y)

0

In [23]:
('r'+ "i" +'s'+ 'h' + 'i')

'rishi'

In [ ]:
print('A' + "R" + 'j")

In [25]:
print('U")

SyntaxError: unterminated string literal (detected at line 1) (1881521093.py, line 1)

In [26]:
print(bool)
print(0)

<class 'bool'>
0

In [27]:
bool(43j)

True

In [28]:
43j

43j

In [29]:
a = 20
print(id(a))

2020775625552

In [31]:
del(id(a))

SyntaxError: cannot delete function call (1562884251.py, line 1)

In [32]:
id(c)

NameError: name 'c' is not defined

In [33]:
print("himan\rshu")

shu

In [8]:
name = input("enter employe name")
age = input("enter employe age")
salary = input("enter employe salary")

enter employe name:himanshu
enter employe age:19
enter employe salary:260000

In [2]:
x = input()

2

In [1]:
y = input()

5

In [9]:
a = input('Even number:')     
b = input('odd number;')

z=a+b
print(z)

Even number:2
odd number;5
25

In [1]:
print("23")

23

In [2]:
print("23.0")

23.0

In [3]:
print(bool)

<class 'bool'>

In [4]:
print("5j")

5j

In [5]:
print("Himanshu")

Himanshu

In [7]:
print("Hello")  # here i will use print fnction

Hello

In [9]:
'''i am learning python'''
print("34")

34

In [17]:
print("himanshu")   '''i am learning python'''

SyntaxError: invalid syntax (4235485119.py, line 1)

In [10]:
print("himanshu")
'''i am learning python'''

himanshu

'i am learning python'

In [16]:
print("Himanshu") ,  print('''Here I use print function''')

Himanshu
Here I use print function

(None, None)

In [18]:
print(23)

23

In [19]:
print(23.0)

23.0

In [20]:
print(True+False)

1

In [22]:
int(23.0)

23

In [23]:
float(35)

35.0

In [25]:
bool(34)

True

In [24]:
complex(567)

(567+0j)

In [28]:
print(type(str(23)))

<class 'str'>

In [27]:
print('str(23)')

str(23)

In [29]:
type(12)

int

In [30]:
type(45j)

complex

In [31]:
type(34.7)

float

In [33]:
type(True)

bool

In [34]:
type(False)

bool

In [36]:
type("strings")

str

In [37]:
type(None)

NoneType

In [38]:
a = 24
b = 35

print(id(a))
print(id(b))

2149432427472
2149432427824

# Expression

- An expression is a piece of code(must include operand and operators)that evaluates t

In [4]:
q = input("what is your number")
e = input("what is your salary")
s = input("what is your name")

r = q+e+s
print(r)

what is your number235
what is your salary30000
what is your namehimanshu
23530000himanshu

In [1]:
print(a)

NameError: name 'a' is not defined

In [6]:
name = input("Enter your name")
age = input("Enter your age")
Salary= input("Enter your salary")

 
print("\n")
print("printing employe details")
print("Name\t")

Enter your namesdfdferf
Enter your ageweqfef
Enter your salaryewfwef


printing employe details
Name
name

(None, None)

In [3]:
x = input("enter name")
y = input("enter name")
z = input("enter name")

print("\n")
print("printing students name")
print("Name" ,"Name" ,"Name")
print(name,name,name)

enter nameparth
enter namerohit
enter namekaran


printing students name
Name Name Name
dlfsifhdsl dlfsifhdsl dlfsifhdsl

In [1]:
name = input("enter employe name")
age = input("enter employe age")
salary = input("enter employe salary")

enter employe namedlfsifhdsl
enter employe agedflkmmge;
enter employe salarye;kfe'r

In [1]:
q = input("values given : ")
print(type(float))

values given : dfjgf
<class 'type'>

In [ ]:
flowers = complex(input(" name of flowers : "))