# Sets

- Unordered:The item in the sets are unordered ,i.e ,it will not maintain the order in which the item are inserted.
- Unindexed:Set item are unindexed.
- Unique:There cannot be two item with the same value in the set.
- Set item must be immutable:We cannot change the same item.
- Sets are mutable.

In [4]:
# set method

set = {1,"strings",2}


# .add(item)----This is same as .append() in lists.
set.add(45)
print(set) 
# .update(iterable)----This is same as .extend() in lists.
set.update("str")
print(set)


# .remove()
set.remove(45)
print(set)

{1, 2, 'strings', 45}
{1, 2, 'strings', 45, 's', 'r', 't'}
{1, 2, 'strings', 's', 'r', 't'}

In [3]:
# set method

set = {1,"strings",2}


# .add(item)----This is same as .append() in lists.
z = set.add(45)
print(id(z))
print(z)
print(set) 
# .update(iterable)----This is same as .extend() in lists.
set.update("str")
print(set)


# .remove()
set.remove(45)
print(set)

140736039317184
None
{'strings', 1, 2, 45}
{1, 2, 'strings', 'r', 45, 't', 's'}
{1, 2, 'strings', 'r', 't', 's'}

In [1]:
z = {1,4,"str"}
print(z)

{1, 4, 'str'}

In [3]:
z = {9,6,4,8,5,67}
print(z)

{67, 4, 5, 6, 8, 9}

In [2]:
# Union
a = {1,2,3}
b = {1,2,4,5}
print("Union Method has been used",a.union(b))
a.update(b)
print("Update method is used",a)

# Intersection
a = {1,2,3}
b = {1,2,4,5}

a.intersection(b)  # This will not apply the changes to a
a.intersection_update(b)  # This will apply the changes to a
print(a)

# Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}
x.difference(y)
x.difference_update(y)
print(x)

# Symmetric Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}

x.symmetric_difference(y)
x.symmetric_difference_update(y)
print(x)

Union Method has been used {1, 2, 3, 4, 5}
Update method is used {1, 2, 3, 4, 5}
{1, 2}
{'hello'}
{'Hello', 2, 3, 'hello'}

In [7]:
# Union
a = {1,2,3}
print(id(a))
b = {1,2,4,5}
print("Union Method has been used",a.union(b))
a.update(b)
print("Update method is used",a)
print(id(a))
# Intersection
a = {1,2,3}
b = {1,2,4,5}
print(id(a))
a.intersection(b)  # This will not apply the changes to a
a.intersection_update(b)  # This will apply the changes to a
print(a)
print(id(a))
# Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}
x.difference(y)
x.difference_update(y)
print(x)

# Symmetric Difference
x = {"str","hello",True,1}
y = {1,2,3,"Hello","str"}

x.symmetric_difference(y)
x.symmetric_difference_update(y)
print(x)

3129940913152
Union Method has been used {1, 2, 3, 4, 5}
Update method is used {1, 2, 3, 4, 5}
3129940913152
3129940910912
{1, 2}
3129940910912
{'hello'}
{'Hello', 2, 3, 'hello'}

In [8]:
a = {1,2,3}
b = {1,2,4,5}

z = a.intersection(b)  # This will not apply the changes to a
k = a.intersection_update(b)  # This will apply the changes to a
print(z)
print(k)

{1, 2}
None

# Subset and Superset

In [9]:
p = {1,2,3,4,5}
q = {1,2,3}

print(p.issubset(q))
print(p.issubset(p))
print(q.issubset(p))

False
True
True

In [10]:
p = {1,2,3,4,5}
q = {1,2,3}

print(p.issuperset(q))
print(p.issuperset(p))
print(q.issuperset(p))

True
True
False

# Disjoint

In [11]:
p = {1,2,3,4,5}
q = {6,7,8}
p.isdisjoint(q)

True

In [12]:
p.isdisjoint(p)

False

In [13]:
q.isdisjoint(p)

True

# Empty Set

In [2]:
a = {}
print(a)

{}

In [4]:
s = set()
print(s)

set()

In [6]:
s = set()
print(type(s))

<class 'set'>

In [20]:
j = {}
k = {"india": "new delhi", "pakistan": "islamabad"}
j["Country"] = k
print(j)

{'Country': {'india': 'new delhi', 'pakistan': 'islamabad'}}